.banner {
  background-image: url(https://raw.githubusercontent.com/Kevin-Chia-Hsuan/Vue-2022-Shopp/master/src/assets/images/banner.jpg);
  background-size: cover;
  background-position: center center;
  height: 70vh;
  opacity: 85%;
}
.product-banner {
  background-image: url(https://raw.githubusercontent.com/Kevin-Chia-Hsuan/Vue-2022-Shopp/master/src/assets/images/banner2.jpg);
  background-size: cover;
  background-position: center center;
  height: 40vh;
  opacity: 85%;
  // h2 {
  //   @keyframes typing {
  //     from {
  //       width: 0;
  //     }
  //   }
  //   width: 12em;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   animation: typing 2s steps(12);
  // }
}
.subscription {
  background-image: url(https://raw.githubusercontent.com/Kevin-Chia-Hsuan/Vue-2022-Shopp/master/src/assets/images/subscription01.jpg);
  background-size: cover;
  background-position: center center;
  height: 70vh;
}
.introduce {
  li {
    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
    img {
      @include size(100%, 100%);
    }
  }
}
