.subscription {
  background-image: url(./assets/images/subscription01.jpg);
  background-size: cover;
  background-position: center center;
  height: 70vh;
}
.introduce {
  li {
    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
    img {
      @include size(100%, 100%);
    }
  }
}
